<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">User DashBoard</title>
</head>
<body>
	<section>
		<div class="card mr-5 ml-5">
			<div class="card-body">
				<span class="crossbtn"><a th:href="@{/user/index}"> <i
						class="fa fa-times" aria-hidden="true"></i></a></span>
				<div class="container text-center mt-2">
					<div class="text-center">
						<img th:src="@{/img/user.png}" alt=""
							style="width: 100px; height: 100px;" />
					</div>
					<h1 class="text-center">ADD CONTACT</h1>
					<div th:classappend="${'alert-'+session.message.type}"
						th:if="${session.message}" class="alert ">
						<span th:text="${session.message.content}"></span>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>

				</div>
				<div class="container-fluid mt-1 ml-3">

					<div class="row">
						<div class="col-md-10 offset-1">
							<form th:action="@{/user/processContact}" th:object="${contact}"
								class="mt-2" enctype="multipart/form-data" method="post">
								<!-- name field -->
								<div class="input-group mb-2 mr-sm-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus-square-o" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" name="name" class="form-control"
										required="required" placeholder="firstName">
								</div>
								<!-- lastname field -->
								<div class="input-group mb-2 mr-sm-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus-square-o" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" name="lastName" class="form-control"
										placeholder="nickName">
								</div>
								<!-- email field -->
								<div class="input-group mb-2 mr-sm-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-envelope" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" name="email" class="form-control"
										placeholder="Email">
								</div>
								<!-- phone field -->
								<div class="input-group mb-2 mr-sm-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" name="phone" class="form-control"
										required="required" placeholder="PhoneNumber">
								</div>

								<!-- work field -->
								<div class="input-group mb-2 mr-sm-2">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase" aria-hidden="true"></i>
										</div>
									</div>
									<input type="text" name="work" class="form-control"
										placeholder="Work">
								</div>

								<!-- description field -->
								<div class="form-group mt-3">
									<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
									<textarea id="mytextarea" cols="25"
										placeholder="Enter description" class="form-control"
										name="description"></textarea>
								</div>
								<!-- image field -->
								<div class="custom-file">
									<input type="file" name="pf_image">
								</div>

								<!-- buttons -->
								<div class="container text-center mt-2">
									<button type="submit" class="btn primary-one text-white ">Save</button>
									<button type="reset" class="btn primary-one text-white ">Reset</button>
								</div>
							</form>
						</div>

					</div>
				</div>

			</div>


		</div>

		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>

	</section>

</body>
</html>



