<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">User DashBoard</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card mr-3 ml-3">
				<div class="card-body mt-3 ">
					<div class="container text-center">
						<img th:src="@{'/img/about.jpg'}"
							style="width: 60%; height: 100px; object-fit: cover;"
							alt="profile photo" class="mt-3" />
						<h1 class="text-secondary font-italic" >
							<span>Start Adding your contact on cloud...</span>

						</h1>
						<a th:href="@{/user/addContact}" class="btn btn-primary text-uppercase mt-3">Add contact</a>
					</div>
				</div>
			</div>
		</div>


	</section>

</body>
</html>



