<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- own css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<title th:text="${title}">base</title>
</head>
<body>
	<!-- this is nav bar -->
	<nav
		class="fixed-top navbar navbar-expand-lg navbar-dark primary-one  ">
		<a class="navbar-brand" href="#">SmartContactManager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/home}">HOME <span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a th:href="@{/user/profile}" class="nav-link "><span
						th:text="${user.name.toUpperCase()}"></span></a>
				<li class="nav-item"><a class="nav-link " th:href="@{/logout}">LOGOUT</a>
				</li>
			</ul>

		</div>
	</nav>
	<!--ending of nav bar  -->
	<!--this is side bar  -->
	<div class="sidebar">

		<span onclick="toggleSidebar()" class="crossbtn">&times;</span>
		<div class="text-center">
			<img th:src="@{/img/home.jpg}" alt=""
				style="width: 100px; height: 100px;" />
		</div>
		<div class="ml-5">
			<a th:href="@{/user/index}" class="items "><i class="fa fa-home mr-2"></i>HOME</a>
			<a th:href="@{/user/allContact/0}" class="items"><i	class="fa fa-book mr-2"></i>VIEW CONTACT</a>
			<a th:href="@{/user/addContact}"  class="items"><i class="fa fa-user-plus mr-2"></i>ADD CONTACT</a>
			<a th:href="@{/user/profile}"  class="items"><i class="fa fa-user-circle mr-2"></i>PROFILE</a>
			<a href="#" class="items"><i class="fa fa-cogs mr-2"></i>SETTING</a> 
			<a th:href="@{/logout}" class="items"><i class="fa fa-sign-out mr-2"></i>LOGOUT</a>
		</div>




	</div>
	<!--ending of side bar  -->

	<!--main content  -->
	<div class="content mt-5">
		<span><i class="fa fa-bars mt-3" onclick="toggleSidebar()"></i></span>

		<div th:replace="${content}"></div>
	</div>
	<!--ending of content area  -->


	<!-- Optional JavaScript -->
	<!-- own js -->
	<script type="text/javascript" th:src="@{/js/myscript.js}"></script>
	
	<!-- sweet alert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		
		<script >
		function deletContact(cId){
			
			swal({
				  title: "Are you sure?",
				  text: "you Want to delete this contact...",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    
				   window.location="/user/deleted/"+cId
				  } else {
				    swal("Your contact is safe!");
				  }
				});
		}
		
		
		
		</script>
		
		
		
</body>
</html>