<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">Document</title>
</head>
<body>
	<!-- this is custom login page -->
	<section class="bannerlog">
		 <div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 350px" class="col-md-12">
                        <form id="login-form" class="form" th:action="@{/sendOTP}" method="post">
                            <h3 class="text-center text-uppercase mt-4">reset password process !!</h3>
                              <!-- error message  -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}"
							class="alert  text-center" role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>                       
                            <div class="form-group mt-4">
                                <label  class="text-info">Please input your register email address</label><br>
                                <input type="email" name="forgotEmail" required="required" class="form-control">
                            </div>                           
                           
                            <div class="form-group text-center mt-4">
                                   <input type="submit" name="send" class="btn btn-info btn-md text-center" 
                                   value="send OTP">
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

</body>
</html>